---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import { t } from '@/i18n'

const meta = {
  description: t('common.404'),
  title: '404'
}
---

<PageLayout {meta}>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <h1 class='block text-7xl font-bold sm:text-9xl'>404</h1>
    <p class='mt-3 text-muted-foreground'>{t('common.error')}</p>
    <p class='text-lg'>{t('common.404Description')}</p>
    <Button title={t('common.goHome')} href='/' variant='ahead' class='mt-5' />
  </div>
</PageLayout>
